<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "api.mides.gob.gt" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
        <![endif]-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">


    <%= stylesheet_link_tag "application", :media => "all" %>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="../../assets/js/html5shiv.js"></script>
            <script src="../../assets/js/respond.min.js"></script>
            <![endif]-->
  </head>
  <body>


 <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">api.mides.gob.gt</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inicio</a></li>
            <li><a href="#about">Acerca De</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <%= yield %>
        </div>
        <div class="col-md-3">
          <div class="well sidebar-nav">
            <h3>Recursos</h3>
            <ul class="nav nav-list">
              <li class="nav-header">Recursos Generales</li>
              <li><%= link_to "Departamentos", "#departamentos-section"  %></li>
              <li><%= link_to "Muncipios", "#municipios-section"  %></li>
              <li><%= link_to "Comunidadades", "#comunidads-section"  %></li>
            </ul>
            <ul class="nav nav-list">
              <li class="nav-header">Recursos Educacion</li>
              <li><%= link_to "Escuelas", "#escuelas-section"  %></li>
              <li><%= link_to "Estudiantes", "#estudiantes-section"  %></li>
              <li><%= link_to "Familias", "#familias-section"  %></li>
            </ul>


          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; OpenGobGt 2013
        | <a href="https://github.com/opengobgt/mides_api">Descarga
        el Fuente (GPLv3)</a></p>
      </footer>

    </div> <!-- /container -->


  

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <%= javascript_include_tag "application" %>

  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

  </body>
</html>
